<module>
  <rawname>shutdown</rawname>
  <repo>standard</repo>
  <name>Shutdown System</name>
  <version>1.0.1</version>
  <publisher>Sangoma Technologies Corporation</publisher>
  <license>GPLv2+</license>
  <licenselink>http://www.gnu.org/licenses/gpl-2.0.txt</licenselink>
  <changelog>
		1.0.0 Release
	</changelog>
  <category>admin</category>
  <menuitems>
    <shutdown needsenginedb="yes">Shutdown</shutdown>
  </menuitems>
  <md5sum>589fe1848162d77c99c9a6542a6c13a5</md5sum>
  <supported>
    <version>13.0</version>
  </supported>
</module>
